body{
    margin-top: 60px;
}
.box-profile{
    position: fixed;
    left: -250px;
    top:0px;
    width: 250px;
    z-index: 99;
    height: 100vh;
    background: #30394a;
    img{
        margin: 0px;
    }
    .author__urls{
        background-color: #eccc5d;
        color:#30394a;
        margin-top:-15px;
        margin-right: -10px;
        padding-top:15px;
        padding-bottom: 15px;
        padding-inline-start:20px;
        position: relative;
        border-radius: 0px 0px 0px 0px;
        font-size:13px;
        list-style-type: none;
        
        box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
              0 2px 2px rgba(0,0,0,0.20), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.10),
              0 16px 16px rgba(0,0,0,0.05);
        li{
            padding-bottom:3px;
        }
        a{
            color:#30394a;
        }
    }
    .result-working{
        color:#eccc5d;
        padding-left: 20px;
        margin-top: 30px;
        ul{
            margin-top: 10px;
            list-style-type: none;
            padding-inline-start:0px;
            li{
                font-size:13px;
                a{
                    color:#fff;
                }
            }
        }
    }
}